<div *ngIf="recipe">
          <h3 class="card-title">{{recipe.dishType}}</h3>
          <p class="card-text">Date: {{recipe.creationDateTime}} </p>
          <p class="card-text">Served for: {{recipe.noOfPeople}} </p>
          <p class="card-text">Ingredients:   <li *ngFor="let ingredient of recipe.ingredientList">{{ingredient.name}}</li> </p>
          <p class="card-text">Instruction: {{recipe.cookingSteps}} </p>
          <div class="btn-group" role="group" aria-label="Delete">
            <button type="button" class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Delete</button>
          </div>
      </div>

