
<div class="container py-5" >
  <div class="row">
    <div class="col-md-12" style="font-family:fantasy;">
      <h2 class="text-center mb-5">{{title}}</h2>
      <ul class="nav nav-fill">
        <a routerLink="add" class="nav-item" routerLinkActive="active">Add recipe</a>

        <a routerLink="recipe" class="nav-item" routerLinkActive="active">View Recipes</a>

        <a routerLink="ingredients" class="nav-item" routerLinkActive="active">View Ingredients</a>
    </ul>
  <router-outlet></router-outlet>
</div>
  </div>
</div>
