
<div class="container py-5" >
  <div class="row">
    <div class="col-md-12" style="font-family:fantasy;">
      <h2 class="text-center mb-5">{{title}}</h2>
      <ul class="nav nav-fill">
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add recipe</a>
        </li>
        <li class="nav-item">
          <a routerLink="recipe" class="nav-link">View Recipes</a>
        </li>
        <li class="nav-item">
          <a routerLink="ingredients" class="nav-link">View Ingredients</a>
        </li>
    </ul>
    <div class="container mt-5">
        <router-outlet></router-outlet>
    </div>
  </div>
  </div>
</div>
