
<div *ngIf="ingredients">
    <div class="container">
      <h3 style="margin-top:20px;font-family:fantasy;">Ingredients</h3>
      <div class="row">
        <div *ngFor="let ingredient of ingredients | async" class="col-sm-4 py-2">
          <div class="card text-white" style="background-color:#adb5bd;">
            <div class="card-body">
              <h3 class="card-title">{{ ingredient.name }} </h3>
              <p class="card-text">{{ ingredient.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

